@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1674479708683') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-left:before {
  content: "\e607";
}

.icon-chevron-right:before {
  content: "\e608";
}

.icon-guanbi2:before {
  content: "\e609";
}

